body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 143, 177);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 200px;
  height: 30%;
  background-color: rgb(139, 199, 79);
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}
.h {
  margin: 0;
}

.s {
  display: flex;
  
}
.se {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.g {
  width: 100%
}
.searchbutton {  
}
.aa {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}